---
layout: index
title: نشست‌ها
permalink: /events/
---

<div class="py-16 px-4 container mx-auto">
  <h1 class="text-center text-4xl my-8">
    نشست‌های دونا
  </h1>
  <p class="text-center my-8">
    <a href="/calendar.ics" target="_blank" rel="noopener noreferrer">
      {% icon calendar class="w-4 h-4 inline-block" %}
      تقویم
    </a>
  </p>

  {% if site.events.size > 0 %}
    {% assign events = site.events | sort: 'event_date' | reverse %}
    <div>
      {% for event in events %}
        {% assign event_number = event.name | split:"." | first | to_persian_digit %}
        
        {% if event.status == 'featured' %}
          <div class="relative border-amber-400 border border-s-2 border-b-4 p-4 mx-auto mb-4 bg-white dark:bg-slate-800 rounded-lg prose dark:prose-invert shadow">
            {% include event_title.html event_number=event_number title=event.title url=event.url %}
            {% include event_date.html event_date=event.event_date format="long" %}
            {% include event_location.html location=event.location %}
            {% include event_presenter.html presenter=event.presenter %}

            {{ event.content | bidify }}

            <span class="absolute -top-3 end-4 text-xs bg-white dark:bg-slate-800 px-2 py-1 border border-amber-400 rounded-lg">نشست جاری</span>
          </div>
        {% else %}
          <div class="relative border dark:border-slate-700 p-4 mx-auto mb-4 bg-white dark:bg-slate-800  rounded-lg prose dark:prose-invert shadow">
            {% include event_title.html event_number=event_number title=event.title url=event.url %}

            <div class="scale-90">
              {% include event_date.html event_date=event.event_date format="long" %}
              {% include event_location.html location=event.location %}
              {% include event_presenter.html presenter=event.presenter %}
            </div>

            {% if event.status == 'future' %}
              <span class="absolute -top-3 end-4 text-xs bg-white dark:bg-slate-800 px-2 py-1 border dark:border-slate-700 rounded-lg">نشست آتی</span>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% else %}
    <p class="text-center">نشستی موجود نیست</p>
  {% endif %}
</div>
