---
layout: index
title: event.title
---

<article class="prose mx-auto my-16 px-4">
  {% assign event_number = page.name | split:"." | first | to_persian_digit %}

  <h4>نشست {{ event_number }}</h4>
  <h1>{{ page.title }}</h1>

  <div class="flex gap-2">
    {% icon calendar class="h-6" %}
    {{ page.event_date | jdate: "%A %d %b %Y" | to_persian_digit }}
    ساعت
    {{ page.event_date | date: "%H:%M" | to_persian_digit }}
  </div>

  {% include event_location.html location=page.location %}

  {% if page.presenter %}
  <div class="flex gap-2">
    {% icon user class="h-6" %}
    توسط:
    <em>{{ page.presenter | linkify_names | join: '، ' }}</em>
  </div>
  {% endif %}

  {{ content | bidify }}
</article>
