<!DOCTYPE html>
<html lang="{{ site.lang | default: 'fa-IR' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ '/assets/img/dona-favicon-48.ico' | relative_url }}" type="image/x-icon">
    <link rel="me" href="https://khiar.net/@do_na">
    <title>{{ site.title }} | {{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>
  <body class="flex flex-col min-h-screen bg-slate-100 dark:bg-slate-800" dir="rtl">
    {% include header.html %}
    
    <main class="flex-grow">
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>
