---
layout: index
title: member.title
---

<div class="container mx-auto my-5 p-5">
  <div class="flex flex-col md:flex-row gap-4">
      <div class="w-full md:w-3/12 md:mx-2">
          <div class="bg-white p-4">
            {% if page.photo %}
                {% if page.photo contains "https://" %}
                    {% assign profile_picture = page.photo %}
                {% else %}
                    {% assign profile_picture = "/members/profile_pictures/" | append: page.photo %}
                {% endif%}
                <img class="rounded-full size-60 mx-auto" src="{{profile_picture}}" alt="تصویر {{page.full_name}}">
            {% else %}
                <div class="rounded-full size-60 mx-auto bg-gray-200 grid place-content-center text-gray-400 text-xs select-none">
                    بدون عکس
                </div>
            {% endif %}

            <h1 class="text-gray-900 font-bold text-xl text-center leading-8 my-1">{{page.full_name}}</h1>
            <h3 class="text-gray-600 font-lg text-semibold text-center leading-6">{{page.profession}}</h3>
            <div class="text-sm text-gray-500 hover:text-gray-600 leading-6 prose">{{page.content}}</div>

            {% include skill_set.html skills=page.skills %}

            {% assign links = page.links | jsonify %}
            {% include member_links.html links=links %}
          </div>
      </div>
      <div class="w-full md:w-9/12 h-64">
          <div class="bg-white p-4 shadow-sm rounded-sm">
            <h3 class="font-semibold text-gray-900 leading-8">
                فعالیت‌ها:
            </h3>
            <div class="text-gray-700">
                {% include member_activities.html member=page %}
            </div>
        </div>
      </div>
  </div>
</div>
